{% autoescape %}
<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{pageTitle}}</title>

    <link rel="canonical" href="/">

    {{ assets({files: [
    '@public/assets/node_modules/bootstrap/dist/css/bootstrap.min.css',
    '@public/assets/css/slimwp.css',
    ], name: 'app.css'}) }}

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="{{ url_for('core.get.home') }}">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('core.get.home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>

    {{ assets({files: [
    '@public/assets/node_modules/jquery/dist/jquery.min.js',
    '@public/assets/node_modules/popper.js/dist/umd/popper.min.js',
    '@public/assets/node_modules/bootstrap/dist/js/bootstrap.min.js',
    '@public/assets/node_modules/moment/min/moment.min.js',
    '@public/assets/node_modules/twig/twig.min.js',
    '@public/assets/js/slimwp.js'
    ], name: 'app.js', nonce: csp_nonce.script_src }) }}
    
    {% block js_prebody %}
    {% endblock %}
  </body>
</html>
{% endautoescape %}
